@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  position: static;
  height: 100%;
  font-family: Oswald, sans-serif;
}

.text-xx-lg {
 font-size: xx-large; 
}

.text-lg {
 font-size: large; 
}

.text-md {
 font-size: medium; 
}

.text-sm {
 font-size: small; 
}

.navbar .container-fluid {
  width: 85%;
  margin: 0 auto;
}

.panel, .panel-default {
  border-radius: 0;
  margin-bottom: 0;
}

.home, .education, .portfolio, .contact, .footer {
  margin: 0 auto;
  padding-top: 50px;
  background: #030303;
  position: static;
  height: 100%;
}

.education, .portfolio, .contact {
  background: #fafafa;
}

.home .info{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  background: #030303;
  color: #bebebe;
  opacity: 0.8;
}

.education .edu {
  margin: 0 auto;
  margin-top: 2%;
  padding: 2%;
  width: 85%;
  height: 42%;
  background: lightgray;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education .edu a {
  text-decoration: none;
  color: black;
}

.portfolio {
  font-family: "Open Sans Condensed";
  height: 300%;
}

.portfolio .container {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.portfolio .container .top-text {
  width: 100%;
  margin: 0 auto;
  height: 10%;
}

.portfolio .container .top-text .line{
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
  height: 0;
  border: 1px solid #FF6037;
}

.portfolio .container .mid-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 90%;
}

.portfolio .container .mid-content .content-title {
  width: 100%;
  margin: 0 auto;
  height: 2%;
}

.portfolio .container .mid-content .content-holder {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 18%;
}

.portfolio .container .mid-content .content-holder .item-n {
  position: relative;
  width: 25%;
  height: 85%;
  margin: 1%;
  margin-left: 6%;
  float: left;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio .container .mid-content .content-holder .item-n .panel-body {
  width: 100%;
  height: auto;
  padding: 0;
}

.portfolio .container .mid-content .content-holder .item-n .panel-body img {
  width: 100%;
}

.portfolio .container .mid-content .content-holder .item-n .panel-footer {
  width: 100%;
  height: auto;
  padding: 2%;
  background: white;
}

.portfolio .container .mid-content .content-holder .item-s .plate,
.portfolio .container .mid-content .content-holder .item-n .plate {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  opacity:0;
  transition: .9s;
  background: lightblue;
}

.portfolio .container .mid-content .content-holder .item-s .plate .link-holder,
.portfolio .container .mid-content .content-holder .item-n .plate .link-holder {
  position: relative;
  width: auto;
  height: auto;
  top: 40%;
  margin: 0 auto;
}

.portfolio .container .mid-content .content-holder .item-s .plate .link-holder .col-xs-3,
.portfolio .container .mid-content .content-holder .item-s .plate .link-holder .col-sm-5,
.portfolio .container .mid-content .content-holder .item-n .plate .link-holder .col-xs-3,
.portfolio .container .mid-content .content-holder .item-n .plate .link-holder .col-sm-4 {
  padding: 0;
}

.portfolio .container .mid-content .content-holder .item-s .plate .link-holder .item-link,
.portfolio .container .mid-content .content-holder .item-n .plate .link-holder .item-link { 
  background: orange;
  color: black;
  border-radius: 0;
  width: auto;
  font-weight: bold;
}

.portfolio .container .mid-content .content-holder .item-s .plate .item-link:hover,
.portfolio .container .mid-content .content-holder .item-n .plate .item-link:hover {
  background: orange;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.portfolio .container .mid-content .content-holder .item-s:hover .plate,
.portfolio .container .mid-content .content-holder .item-n:hover .plate {
  opacity: 0.7;
}

.portfolio .container .mid-content .content-holder .item-n .panel-footer .text-name,
.portfolio .container .mid-content .content-holder .item-s .text-name {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.portfolio .container .mid-content .content-holder .item-s {
  position: relative;
  width: 18%;
  height: 80%;
  margin: 1.5%;
  margin-right: 0%;
  float: left;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.portfolio .container .mid-content .content-holder .item-s .panel-body .body-holder {
  width: auto;
  margin-top: 25%;
}

.portfolio .container .mid-content .content-footer {
  width: 100%;
  margin: 0 auto;
  height: 4%;
}

.contact .ribbon {
  height: 40%;
  color: white;
  background-image: url('https://cdn.glitch.com/aa1f58fa-6cac-4f01-9f72-fdf6fa60b0a2%2Fribbon.JPG?1506582099907');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.contact .ribbon p {
  font-size: xx-large;
  margin-left: 8.5%;
}

.contact .communicate {
  width: 85%;
  margin: 0 auto;
  height: 60%;
}

.contact .communicate .contact-info {
  width: 30%;
  height: 100%;
  margin-top: 2%;
  float: left;
}

.contact .communicate .contact-form {
  width: 70%;
  height: 100%;
  margin-top: 2%;
  float: left;
}

.contact .communicate .contact-form .form-horizontal .form-group .btn-send .loader {
  display: none;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 20px;
  height: 20px;
  margin-left: 48%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.contact .communicate .contact-form .form-horizontal .form-group input, 
.contact .communicate .contact-form .form-horizontal .form-group textarea {
  border-radius: 0;
  resize: none;
}

.contact .communicate .contact-form .form-horizontal .form-group a {
  display: block;
  border-radius: 0;
  border: 1px solid black;
  color: white;
  background: black;
}

.contact .communicate .contact-form .form-horizontal .form-group input:focus,
.contact .communicate .contact-form .form-horizontal .form-group textarea:focus,
.contact .communicate .contact-form .form-horizontal .form-group a:hover {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact .communicate .contact-form .form-horizontal .form-group a:hover {
  color: white;  
}

.footer {
  padding: 5%;
  height: 20%;
  color: white;
}

.footer .icon-footer,
.contact .communicate .icon-contact {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  padding: 0.7%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: white;
  color: black;
}

.contact .communicate .icon-contact {
  background: black;
  color: white;
}

.footer .icon-footer:hover {
  background-color: lightgray;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.contact .communicate .icon-contact:hover {
  background-color: lightgray;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}